body,html {
    height: 100%;
}

.class-container {
    margin: 0px;
    padding: px;
}

.main-content {
  padding-top: 50px;
  padding-bottom: 90px;
}

.footer {
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
  font-family: "Open Sans", serif;
  background-color: #004fe2;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer p {
  margin: 0;
}

.inner-form {
  margin: 10px;
}

#filter-input {
  position: absolute;
}

table {
  margin-top: 40px;
  word-wrap: break-word;
}

.word-wrap {
    word-break: break-all;
}

.collapse {
  overflow: hidden;
}

.card-body {
  height: 100%;
  margin-right: -50px; /* maximum width of scrollbar */
  padding-right: 50px; /* maximum width of scrollbar */
  margin-bottom: -50px; /* maximum width of scrollbar */
  padding-bottom: 50px; /* maximum width of scrollbar */
  overflow: scroll;
}

/*#classes-table_wrapper .row:nth-of-type(3) {
  margin-bottom: 80px;
}*/

select {
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  padding-left: 8px;
}

option {
  border: solid 1px #DDDDDD;
}

