    <!-- /templates/base.html  -->

    <!doctype html>
    <html lang="en">
      <head>
          <!-- Required meta tags --> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{url_for('static', filename='smu_trans_logo.png')}}">
        <title>SMU ALEC Tutor Portal</title>
      </head>
      <body>
            <nav class="navbar navbar-expand-md bg-light navbar-light">
                <a class="navbar-brand" href="{{url_for('home')}}">
                    <img src="{{url_for('static', filename='smu_trans_logo.png')}}" alt="logo" style="width:40px;" title="Home Page" alt="Home">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">

                        <!-- Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('home')}}">Tutor Check-In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('home')}}">Tutor Check-Out</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('editClass')}}">View Classes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('home')}}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('home')}}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>


        <div class="main-content">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
                        <div class="h-100 justify-content-center">
                            {% block content %}  {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
          <p>Copyright © 2018. Southern Methodist University.</p>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script> 
        <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
        <script src="{{ url_for('static', filename='custom.js')}}"></script>
      </body>
    </html>