<!-- /templates/index.html  -->

{% extends 'base.html' %}

{% block content %}
    <!-- <input class="form-control col-6" id="filter-input" type="text" placeholder="Search..">
    <br> -->
    <div class="class-container rounded" style="overflow: visible; max-height: 80vh">
        <table class="table table-bordered table-striped table-hover no-wrap" id="classes-table">
            <thead>
                <tr>
                    <th scope="col">Department</th> 
                    <th scope="col">Number</th>
                    <th scope="col">Class Name</th>
                    <th scope="col">Description</th>
                </tr>
                <tr>
                    <th scope="col"></th> 
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="filter-table">
            {% for class_name in classes %}
                <tr id={{ class_name.id }}>
                    <th scope="row">{{class_name.dept }}</th>
                    <td> {{ class_name.number }} </td>
                    <td> {{class_name.class_name }}</th>
                    <td> {{ class_name.desc }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}